@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;800&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;

}

.navbar {
    height: 90px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: row; */
    font-weight: 500;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px 0 100px;
    top: 0%;
    text-decoration: none;
}

.nav-button {
    background-color: aqua;
    box-shadow: 5px 5px 0px 0px white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    color: black;

}

.nav-ul {
    padding-left: 600px;
}

.navbar ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: flex-end;
}

.navbar ul a {
    font-family: 'Open Sans', sans-serif;
    color: white;
}

.navbar a {
    text-decoration: none;
    font-size: 16px;
    padding: 8px 25px;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

nav .menu-btn i {
    color: white;
    font-size: 22px;
    cursor: pointer;
    display: none;
}

input[type="checkbox"] {
    display: none;
}

@media (max-width: 1000px) {
    nav {
        padding: 0 10px 0 10px;
    }
}

@media (max-width: 920px) {
    nav .menu-btn i {
        display: block;
    }

    #click:checked~.menu-btn i::before {
        content: "\f01b";
    }

    nav ul {
        position: fixed;
        top: 80px;
        left: -100%;
        background-color: black;
        height: 80vh;
        width: 100%;
        text-align: center;
        display: block;
        transition: all 0.3s ease;
    }

    #click:checked~ul {
        left: 0;
    }

    nav ul li {
        width: 100%;
        margin: 40px 0;
    }

    nav ul li a {
        width: 100%;
        margin-left: -100%;
        display: block;
        font-size: 20px;
        transition: 0.1s linear;
    }

    #click:checked~ul li a {
        margin-left: 0px;
    }

    nav ul li a.active,
    nav ul li a:hover {
        background: none;
        color: var(--primary-heading-text-color);
    }
}

.section1 {
    margin: 20px;
    text-align: center;
}

.section1-div1 p {
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #898989;
}

.section1-div1 h1 {
    font-size: 63px;
    font-weight: 800;
    font-family: 'Open Sans', sans-serif;
    color: #212529;
}

.span1 {
    color: black;
}

.span1 {
    background: url(https://i.ibb.co/4jdJSMq/asset-38.png)no-repeat;
    background-size: 100% 36%;
    background-position: bottom;
}

.section1-div2 {
    padding: 0px 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.section1-div3 p {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    color: #898989;
}

.section1-div3 button a {
    text-decoration: none;
    color: aqua;
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
}

.section1-div3 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    background-color: black;
    box-shadow: 5px 5px 0px 0px aqua;
}

.section2 {
    margin: 60px;
    text-align: center;
}

.section2-div1 p {
    font-size: 22px;
    color: #898989;
    font-family: 'Open Sans', sans-serif;

}

.section2-div1 h1 {
    color: #212529;
    font-size: 54px;
    font-family: 'Open Sans', sans-serif;
}

.section2-div1-p {
    padding: 0px 330px;
}

.span2 {
    background: url(https://i.ibb.co/4jdJSMq/asset-38.png)no-repeat;
    background-size: 100% 26%;
    background-position: bottom;
}

.section3 {
    margin: 60px;
    text-align: center;
}

.section3-div1 h1 {
    color: #212529;
    font-size: 54px;
    font-family: 'Open Sans', sans-serif;
}

/* .boxes{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    column-gap: 100px;
    row-gap: 70px;
}
.box1{
    border-radius: 20px solid black;
    width: 250px;
    height: 400px;
    font-family: 'Open Sans', sans-serif;
}
.box1 h1 {
    color: black;
    text-align: center;
}
.box2{
    border: none;
    color: white;
    width: 250px;
    height: 375px;
    font-family: 'Open Sans', sans-serif;
}
.box3{
    border: none;
    color: white;
    width: 250px;
    height: 350px;
    font-family: 'Open Sans', sans-serif;
}
.box4{
    border: none;
    color: white;
    width: 250px;
    height: 325px;
    font-family: 'Open Sans', sans-serif;
} */

.section3 {
    margin: 40px;
    text-align: center;
}

.span3 {
    font-size: 55px;
    font-family: 'Open Sans', sans-serif;
    background: url(https://i.ibb.co/2YDCm7M/asset-39.png)no-repeat;
    background-size: 100% 26%;
    background-position: bottom;
}

.section1-div3 {
    padding: 60px;
    text-decoration: none;
}

.section3-img1 {
    padding: 40px;
}

.section3-div3-p1 {
    color: aqua;
    font-size: 28px;
    font-family: 'Open Sans', sans-serif;
}

.section3-div3-p2 {
    margin: 0px 290px;
    color: #212529;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
}

.section3-div3 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    font-weight: 600;
    background-color: aqua;
    box-shadow: 5px 5px 0px 0px black;
}

.section3-div3 a {
    text-decoration: none;
    color: black;
}

.section4 {
    margin: 60px;
}

.section4-h11 {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 38px;
    color: #212529;
}

.sold-boxes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-between;
    justify-content: space-around;
    gap: 60px;
    flex-direction: row;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
}

.box1 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    background-color: #a5e6fb;
    box-shadow: 5px 5px 0px 0px #495057;
}

.box1-3ruppe {
    color: #495057;
    font-weight: 800;
    font-size: 48px;
}

.box1 div {
    font-size: 18px;
}

.box1 button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.box2 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    background-color: #a5e6fb;
    box-shadow: 5px 5px 0px 0px white;
}

.box2 p img {
    width: 24px;
}

.box2 div {
    font-size: 18px;
}

.box2 button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.box2-span {
    color: #a5e6fb;
    width: 140px;
    height: 24px;
    font-weight: 600;
    padding-left: 210px;
    border-radius: 20px;
}

.box2-span span {
    padding: 6px;

}

.box2-sp {
    color: #a5e6fb;
    font-size: 50px;
    font-weight: 500;

}

.box2-4ruppe {
    font-size: 60px;
    font-weight: 600;
}

.box2 {
    padding: 40px;
    color: white;
    background-color: black;
    box-shadow: 5px 5px 0px 0px aqua;
}

.box3 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    background-color: #a5e6fb;
    box-shadow: 5px 5px 0px 0px #495057;
}

.box3 div {
    font-size: 18px;
}

.box3 button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.box3-12ruppe {
    color: #495057;
    font-weight: 800;
    font-size: 48px;
}

.box-btn {
    align-items: center;
}




.section5 {
    margin: 40px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.section5-p1 {
    color: #212529;
    font-size: 26px;

}

.section5-people {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 70px;
    padding: 0px 80px;
}

.section5-people h4 {
    padding: 10px 0px;
    font-weight: 800;
    color: #212529;
}


.section5 {
    margin: 60px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
}

.section5 a {
    text-decoration: none;
}

.section5-p1 {
    font-size: 24px;
    font-weight: 600;
    padding: 0px 125px;
}

.section5-tabs {
    margin: 100px 0px;
    justify-content: space-evenly;
    height: 240px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

.section5-tabs div {
    height: 60px;
    width: 280px;
}


.section5-tabs-divs1 li {
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
}

.section5-tabs-divs2 li {
    padding-top: 10px;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-bottom: 20px;
}

.section5-span1 {
    font-size: 24px;
    color: #495057;
    padding: 0px 80px 0px 15px;
}

.section5-tabs div a {
    text-decoration: none;
}

.free-asset-items {
    cursor: pointer;
}

.align-items-center {
    align-items: center;
}

.border-bottom {
    border-bottom: 1px solid #c5c7c9;
}

.section5-section2 {
    margin: 10px;
}

.section5-section2 div h1 {
    font-size: 40px;
    margin: 0px 180px;
    font-weight: 400;
    color: #212529;
    font-family: 'Open Sans', sans-serif;
}

.section5-section2 div {
    padding-bottom: 80px;
}

.section5-section2 button {
    width: 220px;
    height: 70px;
    font-size: 28px;
    border: none;
    font-weight: 600;
    background-color: #a5e6fb;
    box-shadow: 5px 5px 0px 0px black;
}

.section5-section2 button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}




.footer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #212529;
    padding: 80px 80px;
    gap: 40px;
}

.footer-div1 ul {
    list-style: none;
}

.footer-div1 h1 {
    padding-left: 28px;
    font-size: 28px;
    font-weight: 600;
    color: #a5e6fb;
    font-family: 'Open Sans', sans-serif;
}

.footer-div1 span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 500;
}

.footer-div2 ul {
    list-style: none;
}

.footer-div2 h1 {
    padding-left: 28px;
    font-size: 28px;
    font-weight: 600;
    color: #a5e6fb;
    font-family: 'Open Sans', sans-serif;
}

.footer-div2 ul li a {
    text-decoration: none;
}

.footer-div2 button {
    padding: 10px 20px;
    width: 200px;
    border-radius: 40px;
    border: 2px solid #a5e6fb;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: transparent;
    color: white;
}

.footer-div2 span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 8px;
    font-size: 16px;
    font-weight: 500;
}

.footer-div3 h1 {
    padding-left: 28px;
    font-size: 28px;
    font-weight: 600;
    color: #a5e6fb;
    font-family: 'Open Sans', sans-serif;
}

.footer-div3 span {
    color: white;
    font-family: 'Open Sans', sans-serif;
    padding-left: 18px;
    font-size: 16px;
    font-weight: 500;
}

.footer-div3 ul li a {
    text-decoration: none;
}

.footer-div3 ul {
    list-style: none;
}

.footer-div3 i {
    border: 2px solid #a5e6fb;
    border-radius: 100px;
    padding: 10px;
}